<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd


    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd"
       default-lazy-init="true">

    <!-- 配置数据源 -->
    <context:property-placeholder location="classpath:application.properties"/>
    <!-- 配置DataSource -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="user" value="${spring.datasource.username}"></property>
        <property name="password" value="${spring.datasource.password}"></property>
        <property name="driverClass" value="${spring.datasource.driver}"></property>
        <property name="jdbcUrl" value="${spring.datasource.url}"></property>
        <property name="minPoolSize" value="${spring.datasource.minPoolSize}"/>
        <property name="maxPoolSize" value="${spring.datasource.maxPoolSize}"/>
    </bean>



    <!-- 配置 JPA 的 EntityManagerFactory -->
    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"></bean>
        </property>
        <property name="packagesToScan" value="com.cdut.sx"></property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.ejb.naming_strategy">org.hibernate.cfg.ImprovedNamingStrategy</prop>
                <!--<prop key="hibernate.hbm2ddl.auto">update</prop>-->
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</prop>

                <prop key="hibernate.cache.use_second_level_cache">true</prop>
                <prop key="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</prop>
                <prop key="hibernate.cache.use_query_cache">true</prop>
            </props>
        </property>
        <property name="sharedCacheMode" value="ENABLE_SELECTIVE"></property>
    </bean>

    <!-- 配置事务 -->
    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"></property>
    </bean>
    <!-- 配置支持基于注解的事务 -->
    <tx:annotation-driven/>


    <!-- 配置 SpringData -->
    <jpa:repositories base-package="com.cdut.sx"
                      entity-manager-factory-ref="entityManagerFactory"></jpa:repositories>


    <!--&lt;!&ndash; 事务的传播特性 &ndash;&gt;-->
    <!--<aop:config>-->
    <!--<aop:advisor pointcut="execution(* com.cdut.sx.*.*.*.*(..))" advice-ref="txAdvice" />-->
    <!--</aop:config>-->
    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
    <!--<tx:attributes>-->
    <!--<tx:method name="save*" propagation="REQUIRED" />-->
    <!--<tx:method name="add*" propagation="REQUIRED" />-->
    <!--<tx:method name="find*" read-only="true" propagation="REQUIRED" />-->
    <!--<tx:method name="get*" read-only="true" propagation="REQUIRED" />-->
    <!--<tx:method name="update*" propagation="REQUIRED" />-->
    <!--<tx:method name="delete*" propagation="REQUIRED" />-->
    <!--<tx:method name="del*" propagation="REQUIRED" />-->
    <!--<tx:method name="*"  read-only="true" />-->
    <!--</tx:attributes>-->
    <!--</tx:advice>-->
</beans>
